.control {
  width: 100%;

  .mat-slider {
    width: 40%;
  }

  label {
    width: 40%;
  }
}

.hoverable {
  &:hover {
    background-color: antiquewhite;
  }

  cursor: pointer;
}

.button-row button {
  margin-right: 8px;
}
