.control {
  width: 100%;

  .mat-slider {
    width: 60%;
  }

  label {
    width: 25%;
    display: inline-block;
  }
}

.hoverable {
  &:hover {
    background-color: antiquewhite;
  }

  cursor: pointer;
}

.mat-toolbar {
  padding-top: 5px;
}

.mat-toolbar button {
  margin: 8px;
}

.highlight {
  background-color: yellow;
}

.time {
  margin-left: 10px;
}
