<div class="button-row">
  <button mat-fab (click)="startSound()">Play</button>
  <button mat-fab (click)="rewindToStart()">Rewind</button>
</div>
<br />
<div class="button-row">
  <button mat-raised-button color="primary" (click)="addMotif()">Add Motif</button>
  <button mat-raised-button color="primary" (click)="addMotifVariation()">Add Motif Variation</button>
  <button mat-raised-button color="primary" (click)="addPhrase()">Add Phrase</button>
</div>

<div class="control">
  <label>
    Motif length (crotchets)
  </label>
  <mat-slider [max]="16" [min]="0.25" [step]="0.25" [(ngModel)]="motifLength">
  </mat-slider>
  {{motifLength}}
</div>

<div class="control">
  <label>
    Motif max size
  </label>
  <mat-slider [max]="24" [min]="1" [step]="1" [(ngModel)]="motifMaxSize">
  </mat-slider>
  {{motifMaxSize}}
</div>

<div class="control">
  <label>
    Motif stasis inhibitor
  </label>
  <mat-slider [max]="20" [min]="0" [step]="1" [(ngModel)]="motifStasisInhibitor">
  </mat-slider>
  {{motifStasisInhibitor}}
</div>

<div class="control">
  <label>
    Motif rest chance
  </label>
  <mat-slider [max]="1" [min]="0" [step]="0.01" [(ngModel)]="motifRestChance">
  </mat-slider>
  {{motifRestChance}}
</div>

<div class="control">
  <label>
    Chance of chordal motif
  </label>
  <mat-slider [max]="1" [min]="0" [step]="0.01" [(ngModel)]="isChordalChance">
  </mat-slider>
  {{isChordalChance}}
</div>

<div class="control">
  <label>
    Phrase length (bars)
  </label>
  <mat-slider [max]="50" [min]="1" [step]="1" [(ngModel)]="phraseBarLength">
  </mat-slider>
  {{phraseBarLength}}
</div>

<div>{{soundService.composedTime}}</div>

<mat-card *ngIf="motifs.length > 0">
  <mat-card-header>
    <mat-card-title>Motifs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let motif of motifs" class="hoverable" (click)="addMotif(motif)">
      <span *ngFor="let note of motif.notes">
        {{note.pitch}} {{getRhythmName(note.rhythm)}}
      </span>
      <button (click)="deleteMotif(motif, $event)">delete</button>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="phrases.length > 0">
  <mat-card-header>
    <mat-card-title>Phrases</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let phrase of phrases" class="hoverable" (click)="addPhrase(phrase)">
      <span *ngFor="let tone of phrase">
        {{tone.id}} {{getRhythmName(tone.length)}}
      </span>
      <button (click)="deletePhrase(phrase, $event)">delete</button>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
