<mat-toolbar>
  <mat-toolbar-row>
    <button mat-fab (click)="toggleTransport()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-fab (click)="rewindToStart()">
      <mat-icon>replay</mat-icon>
    </button>
    <div class="time">
      {{time}}
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-raised-button color="primary" (click)="addMotif()">
      <mat-icon>add</mat-icon> Motif
    </button>
    <button mat-raised-button color="primary" (click)="addMotifVariation()" [disabled]="motifs.length === 0">
      <mat-icon>add</mat-icon> Motif Variation
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-raised-button color="primary" (click)="addPhrase()" [disabled]="motifs.length === 0">
      <mat-icon>add</mat-icon> Phrase
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="control">
      <label>
        Motif length (crotchets)
      </label>
      <mat-slider [max]="16" [min]="0.25" [step]="0.25" [(ngModel)]="motifLength">
      </mat-slider>
      {{motifLength}}
    </div>

    <div class="control">
      <label>
        Motif max size
      </label>
      <mat-slider [max]="24" [min]="1" [step]="1" [(ngModel)]="motifMaxSize">
      </mat-slider>
      {{motifMaxSize}}
    </div>

    <div class="control">
      <label>
        Motif stasis inhibitor
      </label>
      <mat-slider [max]="20" [min]="0" [step]="1" [(ngModel)]="motifStasisInhibitor">
      </mat-slider>
      {{motifStasisInhibitor}}
    </div>

    <div class="control">
      <label>
        Motif rest chance
      </label>
      <mat-slider [max]="1" [min]="0" [step]="0.01" [(ngModel)]="motifRestChance">
      </mat-slider>
      {{motifRestChance}}
    </div>

    <div class="control">
      <label>
        Chance of chordal motif
      </label>
      <mat-slider [max]="1" [min]="0" [step]="0.01" [(ngModel)]="isChordalChance">
      </mat-slider>
      {{isChordalChance}}
    </div>

    <div class="control">
      <label>
        Max Phrase length (bars)
      </label>
      <mat-slider [max]="50" [min]="1" [step]="1" [(ngModel)]="maxPhraseBarLength">
      </mat-slider>
      {{maxPhraseBarLength}}
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Motifs
      </mat-panel-title>
      <mat-panel-description>
        {{motifs.length}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let motif of motifs" class="hoverable" (click)="addMotif(motif)">
      <span *ngFor="let note of motif.notes">
        {{note.pitch}} {{getRhythmName(note.rhythm)}}
      </span>
      <button mat-mini-fab (click)="deleteMotif(motif, $event)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Phrases
      </mat-panel-title>
      <mat-panel-description>
        {{phrases.length}} - {{soundService.composedTime}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let phrase of phrases" class="hoverable" (click)="addPhrase(phrase)">
      <span *ngFor="let tone of phrase" [ngClass]="{'highlight': tone === currentTone}">
        {{tone.id}} {{getRhythmName(tone.length)}}
      </span>
      <mat-divider></mat-divider>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<router-outlet></router-outlet>
